<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{!-- Bootstrap CSS --}}
  <link href="./css/bootstrap.min.css" rel="stylesheet">
  {{!-- Bootstrap JS --}}
  <script src="./js/bootstrap.bundle.min.js"></script>
  {{!-- Our CSS --}}
  <link href="./css/style.css" rel="stylesheet">
  <title>Simple Auth System</title>
</head>

<body>
  {{{body}}}
</body>

</html>